/*$fa-font-path: "../webfonts";
@import '../assets/css/fontawesome.css';
@import '../assets/css/solid.css';
@import '../assets/css/regular.css';
@import '../assets/css/thin.css';
@import '../assets/css/brands.css';*/
@import '../assets/css/fontawesome.css';
@import '../assets/css/thin.css';
@import '../assets/css/duotone.css';
@import '../assets/css/custom.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */
/*@import "/node_modules/@material-tailwind/html/styles/material-tailwind.css";*/

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    position:relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loading-screen {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    top:0;
}

.loading {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading span {
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 3px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale {
    50% {
        transform: scale(1.2);
    }
}

.loading span:nth-child(1) {
    border-radius: 50% 50% 0 50%;
    background-color: #4fc3e0;
    transform-origin: bottom right;
}

.loading span:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background-color: #98ca3c;
    transform-origin: bottom left;
    animation-delay: .5s;
}

.loading span:nth-child(3) {
    border-radius: 50% 0 50% 50%;
    background-color: #4fc3e0;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4) {
    border-radius: 0 50% 50% 50%;
    background-color: #98ca3c;
    transform-origin: top left;
    animation-delay: 1s;
}
