.video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.video-content {
    z-index: 2;
}

.natural-shadow {
    /* inline the SVG filter */
    filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="naturalShadow" x="0" y="0" width="2" height="2">\
        <feOffset in="SourceGraphic" dx="3" dy="3" />\
        <feGaussianBlur stdDeviation="5" result="blur" />\
        <feMerge>\
          <feMergeNode in="blur"/>\
          <feMergeNode in="SourceGraphic"/>\
        </feMerge>\
      </filter>\
    </svg>#naturalShadow');
}


.motiv{
    position:absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.motiv img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
}

.custom-shape-divider-bottom-1679524419 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1679524419 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679524419 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1679499026 .shape-fill {
    fill: #FFFFFF;
}

/* News top */
.custom-shape-divider-top-1679499812 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1679499812 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 27px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1679499812 .shape-fill {
    fill: #FFFFFF;
}

/* News bottom */
.custom-shape-divider-bottom-1679499722 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679499722 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 27px;
}

.custom-shape-divider-bottom-1679499722 .shape-fill {
    fill: #FFFFFF;
}

/* News top */
.custom-shape-divider-top-1679564501 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679564501 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 35px;
}

.custom-shape-divider-top-1679564501 .shape-fill {
    fill: #FFFFFF;
}

/* Counter */
.custom-shape-divider-top-1679524361 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679524361 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1679524361 .shape-fill {
    fill: #FFFFFF;
}

.counterOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

/* GRÅ BAKGRUND */
.custom-shape-divider-bottom-1679525888 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679525888 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679525888 .shape-fill {
    fill: rgb(245 245 245);
}

/* VIT BAKGRUND */
.custom-shape-divider-bottom-16795258882 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-16795258882 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 52px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-16795258882 .shape-fill {
    fill: #FFFFFF;
}

/* PAGE HEADER */
/* VIT */
.custom-shape-divider-bottom-1680265275 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680265275 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 17px;
}

.custom-shape-divider-bottom-1680265275 .shape-fill {
    fill: #FFFFFF;
}

/* GRÅ */
.custom-shape-divider-bottom-16802652752 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-16802652752 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 17px;
}

.custom-shape-divider-bottom-16802652752 .shape-fill {
    fill: rgb(245 245 245);
}

.flex {
    margin-left:0;
    margin-right:0
}

.reveal {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
    overflow: hidden;
}

/* WHY ME */
.custom-shape-divider-top-1680541244 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1680541244 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 24px;
}

.custom-shape-divider-top-1680541244 .shape-fill {
    fill: #FFFFFF;
}

/* Contact top */
.custom-shape-divider-top-1680553802 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1680553802 svg {
    position: relative;
    display: block;
    width: calc(275% + 1.3px);
    height: 39px;
}

.custom-shape-divider-top-1680553802 .shape-fill {
    fill: #FFFFFF;
}
